
#mis-lenguajes, #mis-proyectos, #mis-videos, #mis-githubProyectos, #mis-destacados {
    width: inherit;
    height: fit-content;
    /* border: 1px solid var(--azul-claro); */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em;
}

/* ------------------------------------------------------------------ */
.h2-div-descripcion {
    padding: 1em 1em 0.4em 0.4em;
    color: var(--azul-masclaro);
}
  
#h2-mis-lenguajes {
    color: var(--blanco-azulado);
}
  
#h2-mis-videos, #h2-mis-proyectos, #h2-mis-githubProyectos {
    color: aqua;
}
  
/* #h2-mis-proyectos {
    color: aquamarine;
} */
  
.h2 {
    width: fit-content;
    padding: 0.2em 0.5em;
}
  
.h2-contenedor {
    width: 99%;
    height: 0;
    border: 2px solid var(--azul-masclaro);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1em;
    overflow: hidden;
    animation: none;
    position: relative;
}

.slider {
    position: relative;
    width: 250px;
    height: 160px;
    transform-style: preserve-3d;
    animation: rotar 30s linear infinite;
}
  
.slider figure {
    position: absolute;
    top: 5vw;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(400px);
}
  
.slider figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    transition: 2s;
}

@keyframes rotar {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
}
  
@keyframes mostrarLenguajes {
    0% {
      height: 0vw;
      padding: 0 1em;
    }
  
    100% {
      height: 32vw;
      padding: 4vw 1em;
    }
}
  
@keyframes ocultarLenguajes {
    0% {
      height: 32vw;
      padding: 4vw 1em;
    }
    100% {
      height: 0vw;
      padding: 0 1em;
    }
}

/* -------------------------------------------------
RESPONSIVE
------------------------------------------------- */
@media (max-width: 768px) {
    
}

/* ------------------------------------------------ */
@media (max-width: 600px) {

    .h2-div-descripcion {
        padding: 0.4em 1em 0.4em 0.4em;
    }

    .h2 {
        padding: 0.2em 0.5em;
    }
    
    .h2-contenedor {
        width: 99%;
        height: 0;
        border: 2px solid var(--azul-masclaro);
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 1em;
        overflow: hidden;
        animation: none;
        position: relative;
    }

    .slider {
        width: 100px;
        height: 100px;
    }
    
    .slider figure {
        width: 60%;
        height: 60%;
        transform: rotateY(calc(var(--i) * 40deg)) translateZ(200px);
    }

    @keyframes mostrarLenguajes {
        0% {
          height: 0vw;
          padding: 0 1em;
        }
      
        100% {
          height: 40vw;
          padding: 2vw 1em;
        }
    }
      
    @keyframes ocultarLenguajes {
        0% {
          height: 40vw;
          padding: 2vw 1em;
        }
        100% {
          height: 0vw;
          padding: 0 1em;
        }
    }
}
