@import url('./lenguajes.css');
@import url('./proyectos.css');
@import url('./footer.css');

:root {
  --blanco: rgb(240, 240, 240);
  --blanco-azulado:rgb(200, 245, 255);
  --azul-masclaro: rgb(82, 211, 216);
  --azul-claro: rgb(56, 135, 190);
  --azul-darkcyan: darkcyan;
  --azul-royal: royalblue;
  --azul-medio: rgb(56, 65, 157);
  --azul-marino: rgb(32, 14, 58);
  --letra-tituloXL: 40px;
  --letra-grande: 28px;
  --letra-normal: 24px;
  --letra-mini: 20px;
  --letra-ultramini: 16px;
  --letra-responsive-tituloXL: 20px;
  --letra-responsive-grande: 16px;
  --letra-responsive-normal: 14px;
  --letra-responsive-mini: 12px;
  --letra-responsive-ultramini: 10px;
  --letra-responsive-ultramini2: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url('../img/fondo-azulOscuro.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* ------------------------------------------------------------------ */
.fa-caret-down, .fa-caret-up {
  animation: animaCarets 3s infinite;
}

h1 {
  color: var(--azul-masclaro);
  font-size: var(--letra-tituloXL);
}

h2 {
  font-size: var(--letra-grande);
  cursor: pointer;
}

h4 {
  font-size: var(--letra-grande);
}

p {
  color: var(--blanco);
  font-size: var(--letra-normal);
}

a {
  color: var(--azul-claro);
  font-size: var(--letra-normal);
  text-decoration: none;
  cursor: pointer;
}

ul li {
  color: var(--azul-claro);
  font-size: var(--letra-normal);
  list-style: none;
  display: inline-block;
}

footer figure img:hover {
  transform: scale(1.2, 1.2);
}

h2:hover, summary:hover {
  background-color: var(--azul-medio);
  border-radius: 8px;
}

@keyframes animaCarets {
  0% {
    transform: scale(1);
    text-shadow: none;
  }
  50% {
    transform: scale(1.5);
    text-shadow: 1px 1px 9px var(--blanco);
  }
  100% {
    transform: scale(1);
    text-shadow: none;
  }
}

/* ------------------------------------------------------------------ */
.header {
  width: inherit;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

#contenedor-imagen-Juan {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-image: url('../img/fotoJuan.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header article {
  max-width: 60vw;
  width: fit-content;
  padding: 1em;
}

.header article p {
  font-size: var(--letra-grande);
  margin-top: 0.8em;
}

.header article summary {
  font-size: var(--letra-normal);
  font-style: italic;
  color: var(--azul-royal);
  cursor: pointer;
  margin-top: 0.5em;
  padding: 0.2em 0.2em 0.2em 1em;
}

.header article .sobremi {
  max-width: 400px;
  height: fit-content;
  font-size: var(--letra-mini);
  color: var(--azul-darkcyan);
  padding-left: 1em;
}

#contacto-mail {
  margin: 1em 0.5em 2em 1em;
  padding-left: 0.4em;
  font-style: italic;
  color: var(--azul-royal);
}

#mis-titulos {
  width: 100%;
  height: 90%;
  border: 1px solid var(--azul-masclaro);
  border-radius: 10px;
  box-shadow: 1px 0 8px var(--azul-masclaro);
  padding: 0.5em 0.5em 0.5em 0;
  margin: 2em 0;
  /* object-fit: contain; */
  display: grid;
  grid-template-columns: 90% 10%;
}

#mis-titulos a {
  font-style: italic;
  margin: 1em 0.5em 1em 1em;
  /* color: var(--azul-masclaro); */
}

#mis-titulos img {
  width: 100%;
  height: 100%;
}

#titulo-html:hover, #titulo-react:hover, #titulo-java:hover {
  transform: scale(1.1, 1.1) translateX(9%);
  /* background-color: var(--azul-medio); */
  border-radius: 8px;
}

#titulo-html {
  color: #cff;
}

#titulo-react {
  color: #8ff;
}

#titulo-java {
  color: #1ff;
}

/* -------------------------------------------------
RESPONSIVE
------------------------------------------------- */
@media (max-width:768px) {

  h1 {
    font-size: var(--letra-responsive-tituloXL);
  }

  h2 {
    font-size: var(--letra-responsive-grande);
  }

  p {
    font-size: var(--letra-responsive-grande);
  }
  
  a {
    font-size: var(--letra-responsive-grande);
  }
  
  ul li {
    font-size: var(--letra-responsive-grande);
  }

  /* ----------------------------------------------- */
  .header {
    padding: 1em;
    justify-content: space-evenly;
  }
  
  .header article {
    width: fit-content;
    padding: 0.6em;
  }
  
  .header article p {
    max-width: 210px;
    font-size: var(--letra-responsive-normal);
    margin-top: 0.6em;
  }
  
  .header article summary {
    font-size: var(--letra-responsive-mini);
    font-style: italic;
    color: var(--azul-royal);
    cursor: pointer;
    margin-top: 0.5em;
    padding: 0.2em 0.2em 0.2em 0.8em;
  }
  
  .header article .sobremi {
    max-width: 200px;
    font-size: var(--letra-responsive-mini);
    padding-left: 0.8em;
  }
}

/* ------------------------------------------------------- */
@media (max-width: 600px) {

  .h2 {
    font-size: var(--letra-responsive-mini);
  }

  #contacto-mail a {
    font-size: var(--letra-responsive-ultramini);
  }

  #mis-titulos {
    margin: 1em 0;
  }

  #titulo-html, #titulo-react, #titulo-java {
    font-size: var(--letra-responsive-ultramini);
  }
}
